<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{ hidden : !(isHandset$ | async)!.matches }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><span>Menu</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navbar navbar-default navbar-static-top" color="primary">
      <div class="container-fluid">
          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      
        <span class="nav-item app-logo">GlobalStoreWeb</span>
      
        <a class="spacer"></a>
        <span class="nav-item" (click)="getToken()">Search<!-- <mat-icon>search</mat-icon>--></span> 
        <span class="nav-item" *ngIf="token !== null" (click)="login()">Sign In<!-- <mat-icon>search</mat-icon>--></span> 
        <span class="nav-item" *ngIf="token === null" (click)="logout()">Sign Out<!-- <mat-icon>search</mat-icon>--></span> 
        </div>
      
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="global-content-wrapper">
      <ng-content></ng-content>
      <router-outlet></router-outlet>
    </div>
    
    <div class="footer">
      <div class="container footer-content">
        @2021 GLobalStore Inc.
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
