<main class="container-fluid">
    <div id="global-map">
        <div class="info">
            <div class="merchant-nfo">
                <div class="header">Some Header</div>
                <div class="search-box">
                    <mat-icon>search</mat-icon>
                    <input type="search" placeholder="Find Merchant - Product">
                </div>
                <div class="body">
                    <span>Store: New Store</span>
                    <span>Store Type: Retail</span>
                    <span>Store Location: 105 and Park</span>
                </div>
            </div>
            <div class="merchant-nfo" style="border: 1px solid #e8e8e8;">
                <div class="header">Some Header</div>
                <div class="body">
                    <span>Store: New Store</span>
                    <span>Store Type: Retail</span>
                    <span>Store Location: 105 and Park</span>
                </div>
            </div>
        </div>
    </div>
</main>